[submodule "misc/export_fig"]
	path = misc/export_fig
	url = https://github.com/dcherian/export_fig.git
[submodule "misc/cptcmap-pkg"]
	path = misc/cptcmap-pkg
	url = https://github.com/kakearney/cptcmap-pkg.git
[submodule "oceanography/jlab"]
	path = oceanography/jlab
	url = git@github.com:dcherian/jlab
[submodule "misc/fix_matlab_eps"]
	path = misc/fix_matlab_eps
	url = git@github.com:Sbte/fix_matlab_eps.git
[submodule "misc/superbar"]
	path = misc/superbar
	url = git@github.com:dcherian/superbar.git
[submodule "oceanography/GarrettMunkMatlab"]
	path = oceanography/GarrettMunkMatlab
	url = git@github.com:jklymak/GarrettMunkMatlab.git
